* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    border: 2px;
    max-width: 170px;
    max-height: auto;
    border-radius: 5px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: armenian;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: rgb(106, 224, 208);
    text-decoration: aliceblue;
    font-family: monospace;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    display: block;
    margin: auto;
    transition: 0.2s;
}

.bi {
    margin-top: 0;
    color: #fff;
    size: 40px;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: lighter;
    color: #fff;
    transition: 0.4s;
}

.text-box p:hover {
    color: #fa0d0d;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 22px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 4px;

}

.hero-btn:hover {
    border: 2px solid rgb(45, 129, 118);
    background: rgb(46, 158, 143);
    position: relative;
    transition: 0.2s;
}

nav.bi {
    display: none;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 40px;
        position: relative;
        text-align: center;
    }

    nav img {
        position: relative;
        right: -50%;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background-color: #188ee2;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: left;
        z-index: 5;
        transition: 0.5s;

    }

    nav .bi {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .text-box p {
        font-size: 18px;
    }

}

/*------section2----------*/

.section2 {
    /* width: 100%; */
    /* height: 100vh; */
    /* margin-top: 20px; */
    text-align: center;
    /* padding-top: 100px; */
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: rgb(107, 105, 105);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.msection {
    background-color: gray;
}

.mrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section2-col {
    max-width: 400px;
    flex-direction: row !important;
    background-color: #dfdfff;
    border-radius: 10px;
    padding: 20px 12px;
    margin: 10px;
}

h3 {
    text-align: center !important;
    font-weight: 600;
    margin: 10px 0;
}

.section2-col:hover {
    box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.5);
}

@media(max-width:700px) {
    .section2 {
        /* height: 120vh; */
        padding-top: 15px;
    }
}

/*---------- section3 conferences_Mun------*/
.conferences_Mun {
    width: 100%;
    height: 100vh;
    background-color: #000;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.conferences_Mun h1 {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 56px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.conferences_Mun p {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    color: #fff;
    line-height: 120%;
}

.conferences_Mun-col {
    flex-basis: 33%;
    border-radius: 10px;
    margin-bottom: 30PX;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    overflow: hidden;
}

.conferences_Mun-col img {
    width: 100%;
    display: block;

}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s;
}

.layer:hover {
    background: #dd08088d;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 24px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.2s;
}

.layer:hover h3 {
    bottom: 38%;
    opacity: 1;
}

.row2 {
    margin-top: 0%;
    display: flex;
    justify-content: space-between;

}


@media(max-width:700px) {
    .conferences_Mun {
        flex-direction: column;
        height: 190vh;
    }

    .conferences_Mun h1 {
        font-size: 40px;
    }

    .conferences_Mun p {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 18px;
    }

    .conferences_Mun-col {
        margin-top: 0px;
    }

    .row2 {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

}

/*---------facilitation---*/

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*---------footer---*/

.footer {
    height: 40vh;
    background-image: url(wallpapers/doodle.jpg);
}

.footer h3 {
    font-family: 'Bad Script';
    margin-top: 5px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-decoration: solid;
}

.footer p {
    text-align: center;
    font-size: 20px;
    font-family: 'Bad Script';
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.about-Us {
    background: rgba(121, 131, 130, 0.576);
    width: 100%;
    position: absolute;
    height: 40vh;
}

.about-Us p {
    justify-content: center;
    display: flex;
    align-items: center;
    transition: translate(-50%, -50%);
}

.about-Us p a i {
    margin: 10px;
}



.bi-instagram {
    color: #e40377;
    background-color: #dfdfff;
    font-size: 20px;
    border-radius: 3px;
}

.bi-facebook {
    color: #185be2;
    font-size: 20px;
    border-radius: 3px;
    background-color: #dfdfff;
}

.bi-twitter {
    color: #188ee2;
    font-size: 20px;
    background-color: #dfdfff;
    border-radius: 3px;
}

.bi-youtube {
    color: #fa0d0d;
    font-size: 20px;
    background-color: #dfdfff;
    border-radius: 3px;
}